
/* main */
main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.main_title {
    display: block;
    padding: 30px 0;
    width: 300px;
    padding-right: 25px;
    height: 100px;
    border-bottom: 5px solid black;
}
.main_title > h2 {
    width: 275px;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 500;
}
.main_contents {
    width: 100%;
    padding-left: 25px;
}
.main_contents > h2 {
    width: 100%;
    padding: 40px 0 15px;
    font-size: 34px;
    color: #1d1d1d;
}
.breadcrumb {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.bread_container {
    margin-bottom: 20px;
}
.breadcrumb li {
    margin-right: 20px;
}
.breadcrumb_item {
    position: relative;
}
.breadcrumb_item::before{
    position: absolute;
    left: -15px; 
    top: 10px; 
    content: '';
    width: 5px; /* 사이즈 */
    height: 5px; /* 사이즈 */
    border-top: 1px solid #000; /* 선 두께 */
    border-right: 1px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}
.main_contents > h3 {
    letter-spacing: 0;
    clear: both;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 0;
    margin-bottom: 15px;
}
.center {
    display: block;
    margin: 0 auto;
}
strong {
    font-weight: bold;
}
.text_center {
    text-align: center;
}
.text_primary {
    letter-spacing: 0;
    color: #1d57bd;
    padding: 10px 0;
}
.text_height {
    line-height: 25px;
    padding-bottom: 10px;
}
.text_success {
    font-weight: bold;
    color: #3c763d;
}
.green_box {
    background-color: #dff0d8;
    line-height: 22px;
    width: 100%;
    padding: 15px;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}
/* 로그인 */
.login_page {
    margin-top: 20px;
    width: 100%;
    height: 229px;
    background-color: #eee;
    padding: 58px 15px;
}
.login_container {
    width: 408px;
    margin: 0 auto;
}
.input_container {
    width: 262px;
    height: 100px;
    margin-right: 14px;
}
.input_container input {
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    padding: 10px;
}
.input_container input:first-child {
    margin-bottom: 14px;
}
.login_form button {
    cursor: pointer;
    width: 132px;
    height: 110px;
    background-color: #065ca3;
    border: none;
    font-size: 18px;
    color: white;
}
.login_form {
    display: flex;
    flex-direction: row;
}
.find_login {
    margin: 20px 0;
}
.find_box {
    float: left;
    width: 275px;
    height: 107px;
    border-left: 1px dashed #D6D6D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
}
.find_box > a {
    text-align: center;
    line-height: 32px;
    color: white;
    display: block;
    width: 100px;
    height: 32px;
    background-color: #065ca3;
}
.find_login::after {
    clear: both;
}
.sns_title {
    display: inline-block;
    margin-top: 30px;
}
.sns_login {
    padding: 23px 0;
    width: 100%;
    height: 100px;
    border: 1px solid #cacaca;
    margin-bottom: 40px;
}
.sns_login > a {
    margin: 0 auto;
    color: #767678;
    font-size: 20px;
    text-align: center;
    line-height: 52px;
    display: block;
    width: 330px;
    height: 54px;
    border: 1px solid #cacaca;
}
.sns_login img {
    transform: translateX(-70px) translateY(1px);
}
